@charset "UTF-8";
/**
 * Created by Rayr Lee on 2018/5/8.
 */
@import "lib/reset";  // 样式重置
@import "lib/util";   // 工具类
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ceshi-wrap {
  width: 100%;
  height: 100%;
  padding: 30px 30px 80px 30px;
  background-color: blue;
}
.ceshi {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('//p1.meituan.net/scarlett/87c82a1d731187a27a1cb07516d2c443131701.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.list {
  display: flex;
  flex-direction: column;
}
.list li {
  margin-top: 20px;
}