@charset "UTF-8";
/**
 * Created by Rayr Lee on 2018/5/8.
 */
@import "lib/reset";
// 样式重置
@import "lib/util"; // 工具类
html, body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  .swiper-container {
    width: 100%;
    height: 100%;
    .section {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .options-list {
      margin-top: 40px;
      li {
        position: relative;
        img {
          display: inline-block;
          width: 416px;
          margin-top: 12px;
        }
        i {
          position: absolute;
          display: none;
          top: 50%;
          right: 0;
          width: 82px;
          height: 68px;
          margin-top: -41px;
          background: url("//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30203.png") no-repeat;
          background-size: cover;
        }
      }
    }
    .section1 {
      background-image: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30225.png');
      text-align: center;
      .logo-wrap {
        margin-top: 150px;
        .logo {
          width: 80px;
          height: 84px;
        }
        h2 {
          font-size: 60px;
          margin-top: 40px;
          color: #fff;
          letter-spacing: 1px;
        }
      }
      .text-wrap {
        margin-top: 62px;
        p {
          font-size: 30px;
          line-height: 50px;
          color: #fff;
        }
      }
      .swiper-button-next1 {
        width: 362px;
        height: 156px;
        margin-top: 30px;
        background: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30235.png') no-repeat;
        background-size: cover;
      }
    }
    .section2 {
      position: relative;
      background-image: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30232.png');
      h2 {
        font-size: 58px;
        margin-top: 90px;
        color: #fff;
      }
      .zdy {
        li {
          display: flex;
          align-items: center;
          width: 416px;
          height: 102px;
          background-image: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30236.png');
          background-size: 100% 100%;
          margin-top: 12px;
          font-size: 32px;
          color: #fff;
          p {
            margin-left: 40px;
          }
          .slot {
            flex: 1;
            text-align: left;
            font-size: 30px;
            margin: 0 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .obj-mask {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.3);
        .obj-wrap {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 560px;
          height: 468px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #fff;
          color: #000;
          border-radius: 14px;
        }
        .obj-input {
          width: 90%;
          height: 140px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .female, .male {
            display: flex;
            align-items: flex-end;
            font-size: 30px;
            line-height: 1.5em;
            p {
              margin-right: 30px;
            }
            input {
              width: 60%;
              border-bottom: 2px solid #ccc;
            }
          }
        }
        .select {
          display: flex;
          width: 90%;
          margin: 60px auto 0;
          justify-content: space-around;
          img {
            width: 206px;
            height: 82px;
          }
        }
      }
      .mask1 {
        display: none;
      }
      .swiper-button-next2 {
        width: 328px;
        height: 82px;
        margin-top: 40px;
        background: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30233.png') center center no-repeat;
        background-size: cover;
      }
    }
    .section3 {
      background-image: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30185.png');
      h2 {
        font-size: 58px;
        margin-top: 110px;
        color: #fff;
      }
      .options-list {
        li {
          position: relative;
          width: 640px;
          height: 102px;
          line-height: 102px;
          margin-top: 12px;
          background: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30222.png') no-repeat;
          background-size: cover;
          p {
            width: 76%;
            display: flex;
            justify-content: space-between;
            font-size: 30px;
            margin-left: 40px;
            color: #fff;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .swiper-button-next3 {
        width: 328px;
        height: 82px;
        margin-top: 70px;
        background: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30184.png') center center no-repeat;
        background-size: cover;
      }
    }
    .section4 {
      position: relative;
      background-image: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30185.png');
      h2 {
        font-size: 58px;
        margin-top: 110px;
        color: #fff;
      }
      .options-list {
        li {
          position: relative;
          width: 706px;
          height: 102px;
          line-height: 102px;
          margin-top: 12px;
          background: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30202.png') no-repeat;
          background-size: cover;
          p {
            width: 80%;
            font-size: 30px;
            text-align: left;
            margin-left: 40px;
            color: #fff;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .custom {
        width: 700px;
        height: 102px;
        margin-top: 15px;
        background: url("//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30187.png") no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        padding: 0 20px;
        p {
          margin-left: 20px;
          font-size: 32px;
          color: #E44F61;
          line-height: 1.5em;
        }
        .love_words {
          flex: 1;
          margin-left: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
      }
      .swiper-button-next4 {
        width: 328px;
        height: 82px;
        margin-top: 30px;
        background: url('//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30184.png') center center no-repeat;
        background-size: cover;
      }
      .obj-mask {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.3);
        .obj-wrap {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 560px;
          height: 468px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #fff;
          color: #000;
          border-radius: 14px;
        }
        .obj-input {
          width: 90%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .female, .male {
            display: flex;
            align-items: flex-end;
            font-size: 30px;
            padding-top: 20px;
            p {
              margin-right: 30px;
            }
            input {
              width: 60%;
              border-bottom: 2px solid #ccc;
            }
          }
        }
        .select {
          display: flex;
          width: 90%;
          margin: 60px auto 0;
          justify-content: space-around;
          img {
            width: 206px;
            height: 82px;
          }
        }
      }
      .mask2 {
        display: none;
      }
    }
    .section5 {
      background: url("//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30188.png");
      .loading {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        img {
          display: inline-block;
          width: 240px;
          height: 220px;
          animation: heart 1s infinite;
        }
        .load-more {
          display: flex;
          align-items: flex-end;
          p {
            font-size: 34px;
            margin-top: 30px;
          }
        }
        .bouncing-loader {
          display: flex;
          justify-content: center;
          margin-top: 40px;
        }
        .bouncing-loader > div {
          width: 20px;
          height: 20px;
          margin: 0 .2rem;
          background: #fff;
          border-radius: 50%;
          animation: bouncing-loader 0.5s infinite alternate;
        }
        .bouncing-loader > div:nth-child(2) {
          animation-delay: 0.2s;
        }
        .bouncing-loader > div:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
    .section6 {
      display: none;
      background: url("//imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/30/30188.png");
      .result {
        width: 602px;
        margin-top: 60px;
      }
      .button-group {
        width: 602px;
        margin: 20px auto 0;
        display: flex;
        justify-content: space-between;
        img {
          width: 100%;
        }
      }
      .tips-1 {
        color: #fff;
        font-size: 24px;
        margin-top: 16px;
      }
    }
  }
}

@keyframes heart {
  0% {
    transform: scale(.8);
  }
  25% {
    transform: scale(1);
  }
  to {
    transform: scale(.8);
  }
}
@keyframes bouncing-loader {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.26;
    transform: translateY(-10px);
  }
}